<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Moldtek Heroku Integration App</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    
    <style>
        body {
            padding-top: 60px;
        }
    </style>
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular.min.js" type="text/javascript" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js" type="text/javascript" charset="utf-8"></script>
<body>

<script>
var app = angular.module("myShoppingList", []); 
app.controller("myCtrl", function($scope) {
    var vm = this;
    $scope.products = ["Milk", "Bread", "Cheese"];
    
    vm.createUser = function(userInformation) {
        if(angular.isDefined(userInformation) && userInformation !== null){
            alert(userInformation.firstname);
        }
    };
});
</script>

<div class="container" ng-app="myShoppingList" ng-controller="myCtrl">
        <form id="createuserForm" action="/CreateUser" method="post" style="width: 400px">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Create User</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" ng-model="vm.user.firstname" id="firstName" placeholder="Enter first name" required>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" id="lastName" ng-model="vm.user.lastname" placeholder="Enter lastname" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" ng-model="vm.user.email" placeholder="Enter email address" required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="tel" class="form-control" id="phone" ng-model="vm.user.phone" placeholder="Enter phone number" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="tel" class="form-control" id="password" ng-model="vm.user.password" placeholder="Enter password" required>
                    </div>
                </div>
                <div class="panel-footer">
                    <div id="message" class="alert alert-info" role="alert" style="display: none;">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        <span id="messageMessage"></span>
                    </div>
                    <div id="error" class="alert alert-danger" role="alert" style="display: none;">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        <span id="errorMessage"></span>
                    </div>
                    <button type="button" class="btn btn-primary" ng-click=vm.createUser(vm.user)>Create User</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>