<!DOCTYPE html>
<html>
<head>
    <script src="scripts/controllers/main.js"></script>
<meta charset="UTF-8">
<title>Sign In form</title>
<link rel="stylesheet" type="text/css" href="style.css">
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
</head>
<body  ng-controller="loginCtrl">
<div class="box">
  <div id="header">
  <h1 id="logintoregister">Login</h1>
  </div> 
   <form novalidate>
    <div class="group">
      <input class="inputMaterial" type="text" ng-model="username" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Username</label>
    </div>
	    <div class="group">      
      <input class="inputMaterial" type="password" ng-model="password" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Password</label>
    </div>
    <button id="buttonlogintoregister" ng-click="validateLogin()">Login</button>
  </form>
  
</div>
</body>
</html>